In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import csv
from datetime import datetime

In [4]:
df = pd.read_csv('data/starter_data.csv')
df.head(), df.info(), df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   category  10 non-null     object
 1   value     10 non-null     int64
 2   date      10 non-null     object
dtypes: int64(1), object(2)
memory usage: 368.0+ bytes

(  category  value        date
 0        A     10  2025-08-01
 1        B     15  2025-08-02
 2        A     12  2025-08-03
 3        B     18  2025-08-04
 4        C     25  2025-08-05,
 None,
            value
 count  10.000000
 mean   17.600000
 std     7.381659
 min    10.000000
 25%    12.250000
 50%    14.500000
 75%    23.250000
 max    30.000000)

In [5]:
summary = df.groupby('category').mean(numeric_only=True).reset_index()
summary.to_csv('data/processed/summary.csv', index=False)
summary

  category      value
0        A  11.500000
1        B  15.666667
2        C  27.666667

In [7]:
def mean( df ) -> int :
    median_value = df['value'].median()
    return median_value

In [8]:
print (mean (summary) )

15.666666666666666

In [14]:
numeric_cols = df.select_dtypes(include="number").columns
grouped = df.groupby("category")[numeric_cols].agg(["mean", "std", "count", "min", "max"])
grouped

              value
               mean       std count min max
category
A         11.500000  1.290994     4  10  13
B         15.666667  2.081666     3  14  18
C         27.666667  2.516611     3  25  30